.taggedItem {
    background-color: #d8b9c3;
    color: #000; 
}

.search-button {
    background-color: rgb(210, 232, 240);
}

.list-group-item.active {
    background-color: rgb(174, 201, 210);
    border-color: black;
}

