.nameText {
    font-size:50px;
    font-weight: 300;
    background-color: rgb(219, 234, 239);
    border-radius: 20px;
    padding : 10px;
    
}

.update-button {
    background-color: rgb(205, 232, 241);
}

.form {
    width : 100
}


